body {
    background-image: linear-gradient(to right , #112B3C,#205375,#68A7AD,#99C4C8);
}

header {
    background-image: linear-gradient(to right,#000000,#112B3C,#205375,#68A7AD,#99C4C8);
    height: 20px;
    width: 1480px;
    text-align:right;
    font-size: 19px;
    padding: 15px;
    font-family: 'Noto';
    font-style:italic;
    position:fixed;
    top: 0px;
    left: -2px;
}

a {
    text-decoration: none;
    color:black; 
}

a:hover{
    color: white;
    transition: 0.5s;
    font-size:larger;
}

.header{
    display:inline-block;
    margin: 0 10px;
}

#logo1 {
    position:fixed;
    top:8px;
    left:270px;  
}
#logo2 {
    position:fixed;
    top: 8px;
    left: 293px;  
}
#logo3 {
    position:fixed;
    top:9px;
    left:316px;  
} 

#cvp {
    color: black;
    font-size: 25px;
    font-family: cursive;
    position: fixed;
    top: 260px;
    left: 230px;
    border: 3px solid #000000;
    padding: 50px;
    width: 115px;
}

#imgcv {
    float: right;
}
#imgcvicon {
    position: fixed;
    left: 660px;
}