body {
    background-color: lightblue;
}

#h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:aliceblue;
    border: 3px solid black;
    padding: 7px;
    text-align: center;
    width: 200px;
    border-width: 2px;
}

#cv , #spor, #sertifika {
    background-color:aliceblue;
    color:teal;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    border: 2px solid black;
}